<p-toast position="top-right"></p-toast>
<!-- <app-loading></app-loading> -->
<!-- {{DataDetails | json}} -->
<div class="p-3"  >
    <div class="row" style="margin-bottom: -20px;">
        <div class="col-12" style="margin-top: -10px; margin-bottom: 0px;">
            <div class="actions" *ngIf="!checkNoFound" > 

                <!-- <p-button label="Case Closed Manual" type="button" icon="pi pi-times" styleClass="p-button-danger p-search btnNew" 
                [disabled]="checkNoFound" (onClick)="closedManual()"  [style]="{'margin-left': '.5em'}"  >  
                </p-button> -->

                <p-button label="Charge Back Pending" type="button" icon="pi pi-clock" styleClass="p-button-warning p-search btnNew" 
                [disabled]="checkNoFound" (onClick)="BackPending()"  [style]="{'margin-left': '.5em'}"  *ngIf="showBackPending">  
                </p-button>

                <p-button label="Link CMS" type="button" icon="pi pi-link" styleClass="p-button-success p-search btnNew" [disabled]="checkNoFound" (onClick)="LinkCMS()"  *ngIf="showLinked">  <!--*ngIf="showLinked"-->
                </p-button>
                <p-button label="Linked Transaction" type="submit" icon="pi pi-link" styleClass="p-button-info btnNew " [disabled]="checkNoFound" 
                [style]="{'margin-left': '.5em'}"   (click)="linkedDispute()"  data-toggle="modal" data-target="#linkeddispute" ></p-button>
                <app-linkeddispute  #linkeddispute></app-linkeddispute>

                <!-- *ngIf="DataDetails.link_STATUS !== 'CMS Linked'" -->
               <!-- {{DataDetails.link_STATUS}} -->
                <p-button label="Edit" type="submit" icon="pi pi-pencil" styleClass="p-button-success btnNew" [disabled]="checkNoFound"    *ngIf="DataDetails.link_STATUS !== 'CMS Linked'"
                [style]="{'margin-left': '.5em'}"   (click)="onClickEdit()"  data-toggle="modal" data-target="#editdispute" ></p-button>
                <app-editdispute #editdispute (getResponse1)="getDoneEdit($event)" ></app-editdispute>
            </div>
        </div>

        <div class="col-12" style="display: contents;"  *ngIf="!checkNoFound">
            <div  class="col-6 col-sm-6 mb-1" style="margin-top:2px; padding: 0 5px;"  *ngFor="let section of allSections">
                <p-fieldset class="fieldset" [legend]="section.sectionName" [toggleable]="true"  >
                    <div class="col-6 col-sm-6 itemDetails"  *ngFor="let title of section.allParamter"  style="float: left"  [ngClass]="{'hidden-display': title.is_VISIABLE == 0}">
                        <span style="display: flex;" *ngIf="title.is_VISIABLE == 1" > 
                            <div class="col-5" style="text-align: right; padding: 0 4px;" >
                               <span> 
                                <label  class="title">{{title.label_NAME_EN}} </label>
                              </span>
                            </div>
                            <div class="col-7" style="padding: 0 0px;">
                                <span  *ngFor="let item of DataDetails | keyvalue" >
                                    <label *ngIf="title.object_NAME == item.key" > <span *ngIf="item.value !== ' '"> : </span></label>
                                    <label *ngIf="title.object_NAME == item.key" class="ml-2" ><span *ngIf="item.value !== 'null'"> {{item.value}} </span></label>
                                </span>
    
                            </div>
                        </span>
                    </div>
    
                </p-fieldset>
            </div>
    
        </div>



 <!-- {account_NO: "789"
amount: null
approval_CODE: null
arn: null
auth_ID: 11} -->

        <!-- <div class="col-6 col-sm-3 itemDetails"  *ngFor="let item of DataDetails | keyvalue">
            <span style="display: flex;">
                <div class="col-8" style="text-align: right; padding: 0 4px;" >
                    <label class="title"> {{item.key}} : </label> 
                <span  *ngFor="let title of titles"> 
                    <label *ngIf="title.object_NAME == item.key" class="title"> {{title.label_NAME_EN}} :</label>
                </span>
                </div>
                <div class="col-4" style="padding: 0 2px;" >
                    <label > {{item.value}} </label>
                </div>
            </span>
        </div> -->
    </div>
</div>



<div class="p-3" *ngIf="checkNoFound == true">
    <div class="row">
        <div class="col-12 mb-2">
           <span class="text-danger emptyMessg" > {{emptyMessg}}</span>
        </div>
    </div>
</div>


<p-tabView (onChange)="handleChange($event)" [(activeIndex)]="index">
    <p-tabPanel  header="Dispute History">
        <ng-template pTemplate="content">
            <app-historydispute #historydispute></app-historydispute>
        </ng-template>
    </p-tabPanel>

    <!-- <p-tabPanel  header="History Dispute2">
        <ng-template pTemplate="content">
22        </ng-template>
    </p-tabPanel> -->


</p-tabView>

