.searchtable{
    float: right;
    margin-top: -4px;
}
.multicol{
     margin-top: -4px;
 }
 
.viewData{
    padding: 2px 11px;
}
.background-red{
    background: #df4141e3 !important;
    color: white !important;
    padding: 13px 50px;
}

.background-green{
    background:#039f03b3 !important;
    color: white !important;
    padding: 13px 50px;

}
.background-yellow{
    background: yellow !important;
    padding: 13px 40px

}