.searchtable{
    float: right;
    margin-top: -4px;
}
.multicol{
     margin-top: -4px;
 }
 
.viewData{
    padding: 2px 11px;
}
.background-red{
    background: red !important;
}

.background-green{
    background: #06bc06 !important;
}